# Prerequisites

lib/
node_modules/
package.json
influxdb-volume/
mqtt-volume/
node-red-nodes/
node-red-volume/
*node_modules/
.vscode/
# Compiled Object files
*.slo
*.lo
*.o
*.obj
.idea/

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
